*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio/IntelliJ project files
.idea/
*.iml

# Specific ignored files in .idea (optional, if you only want to ignore some)
.idea/inspectionProfiles/
.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/misc.xml
